.container_navbar{
    background-color: #F28C1D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.container_navbar ul{
    display: flex;
    align-items: center;
    gap: 50px;
    list-style-type: none;
}
.container_navbar li{
    padding: 30px;
    margin: 0px 10px;
}
.container_navbar img{
    width: 70px;
}